*.class
*.log

#text editor temp files
*~
*.swp

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Eclipse specific
.project
.classpath
.cache
.worksheet
.settings/


# Project Speficic
/**/layout.json
/**/*.sc

#other files
nohup.out
build.sbt.orig
prova1.scala
.idea/
project/project/
